/***** 引入Tailwind样式 *****/
/* base:        基础样式（如默认的margin、padding重置，基础HTML元素样式），重置浏览器默认样式（如消除默认的body边距、统一字体），确保不同浏览器的基础样式一致，因为已经关掉了preflight，所以几乎为空 */
/* components:  组件样式（如按钮、卡片等基础组件的预设类，可选但推荐），导入Tailwind预设的组件类（如.btn基础按钮样式），若你不需要可删除，但保留不影响 */
/* utilities:   工具类样式（核心！包含所有原子化类如flex、text-red-500、p-4等），导入所有原子化工具类，没有这行代码，所有flex、text-blue-500等类都无法生效 */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0; /* 清除所有默认间距，避免布局乱 */
  padding: 0; /* 清除所有默认间距，避免布局乱 */
  box-sizing: border-box; /* 让宽度不被内边距撑变形 */
}

/* rem单位计算基于html中的font-size，默认font-szie为16px则1rem=16px */
/* 这里font-size设成10px使得1rem=10px方便转换 */
html {
  font-size: 10px;
}

html,
body {
  height: 100%;
  background-color: #f5f7fa;
}

body {
  /* ElementPlus字体默认的font-size是14px */
  /* 由于上面font-size设了10px，这里让ElementPlus不被10px压扁而恢复默认值14px */
  font-size: 14px;

  /* Vite创建项目时生成的字体集 */
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility; /* 让文字排版更美观 */
  -webkit-font-smoothing: antialiased; /* 让字体更平滑（Chrome） */
  -moz-osx-font-smoothing: grayscale; /* 让字体更平滑（Mac） */

  #app {
    width: 100%;
    height: 100%;
  }
}
